@using MvcOnlineTicariOtomasyon.Models.Sınıflar
@model List<Employee>
    @{
        ViewBag.Title = "DepartmanDetail";
        Layout = "~/Views/Shared/_AdminLayout.cshtml";
    }
    <br />
    <h2>Departman Detail Page</h2>
    <br />
    <ol class="breadcrumb mb-4">
        <li class="breadcrumb-item active">Departman's Name: @ViewBag.d</li>
    </ol>
    <table class="table table-hover">
        <tr>            
            <th>Employee</th>                       
            <th>Sales</th>
        </tr>
        @foreach (var u in Model)
        {
            <tr>                
                <td>@u.EmployeeName @u.EmployeeSurname</td>                              
                <td>
                    <a href="/Departman/DepartmanEmployeeSalesment/@u.EmployeeID" class="btn btn-danger" style="background-color:yellowgreen">Sales</a>
                </td>
            </tr>
        }

    </table>
